In [30]:
from dataclasses import dataclass
@dataclass
class Aluno:
  nome : str
  matrícula : int
  notas : list[int]

  def get_media(self):
    return (self.notas[0] + self.notas[1]) / 2
  def print(self):
    print(self.nome)
    print(str(self.get_media()))
    print("------------------------")

In [34]:
from random import randint
nomes = ("mario", "maria", "Helena", "Alice", "Liz", "Benício", "Carina", "Josué", "Laila", "Eliza")
alunos : list[Aluno] = []
for i in range(10):
  alunos.append(Aluno(
      matrícula=randint(1, 1000000),
      nome=nomes[i],
      notas=[randint(0,10), randint(0,10)]
  ))

Imprima o nome e média dos alunos em ordem alfabética.

In [35]:
def get_nome(aluno):
  return aluno.nome
alunos.sort(key=get_nome)
for item in alunos:
  item.print()

Alice
7.0
------------------------
Benício
7.0
------------------------
Carina
8.0
------------------------
Eliza
1.0
------------------------
Helena
7.5
------------------------
Josué
2.0
------------------------
Laila
7.5
------------------------
Liz
5.5
------------------------
maria
1.0
------------------------
mario
6.0
------------------------

Imprima o nome e a média dos alunos em ordem decrescente de média.

In [37]:
def get_media(aluno):
  return aluno.get_media()
alunos.sort(key=get_media, reverse=True)
for item in alunos:
  item.print()

Carina
8.0
------------------------
Helena
7.5
------------------------
Laila
7.5
------------------------
Alice
7.0
------------------------
Benício
7.0
------------------------
mario
6.0
------------------------
Liz
5.5
------------------------
Josué
2.0
------------------------
Eliza
1.0
------------------------
maria
1.0
------------------------

Imprima os 2 alunos com maior média e os 2 alunos com menor média.

In [40]:
print("\nmaiores\n")
alunos[0].print()
alunos[1].print()
print("\nmenores\n")
alunos[8].print()
alunos[9].print()

maiores

Carina
8.0
------------------------
Helena
7.5
------------------------

menores

Eliza
1.0
------------------------
maria
1.0
------------------------

Calcule a média da turma.

In [42]:
soma = 0
for item in alunos:
  soma += item.get_media()

print("media " + str(soma/10))

media 5.25

Imprima todos os alunos que ficaram abaixo da média da turma.

In [45]:
for item in alunos:
  if item.get_media() < 6:
    item.print()

Liz
5.5
------------------------
Josué
2.0
------------------------
Eliza
1.0
------------------------
maria
1.0
------------------------